<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>

	<link rel="stylesheet" href="{{url_for('static', filename='css/screen.css')}}" type="text/css" media="screen, projection"/>
	<link rel="stylesheet" href="{{url_for('static', filename='css/print.css')}}" type="text/css" media="print"/>   
	<!--[if IE]><link rel="stylesheet" href="{{url_for('static', filename='css/ie.css')}}" type="text/css" media="screen, projection"><![endif]-->
	
    <!-- blue print pluggins -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/plugins/fancy-type/screen.css')}}" type="text/css" media="screen, projection" /> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/anolis.css')}}" type="text/css" media="screen, projection" /> 
    
    <!-- scripts -->
    <!-- static/script/jquery-1.4.2.min.js -->
   
    <script type="text/javascript" src="{{url_for('static', filename='script/jquery-1.4.2.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='script/jquery.field.min.js')}}"></script> 

	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
		
	<script type=text/javascript>
		$(function() {
		    $('.button').bind('click', function() {
		    $("#numb_msats").empty().html("<img src={{url_for('static', filename = 'images/ajax-loader.gif')}}>");
		        $.getJSON($SCRIPT_ROOT + '/query_args?' + $(this).closest('form').serialize(), function(data) {
		            $("#numb_msats").text(data.numb_msats), $("#stat2").text(data.msat_motif_count);
		        });
		        return false;
		    });
		});
	</script>
    

	<title>Anole MSats</title>
    
</head>
<body>
    <div class="container">
        <div class="span-24 last"></div>
        <hr />
        <div id="header" class="span-13"> <h1>Anolis Microsatellites Database</h1></div>
        <div class="span-11 last"></dir><img src={{url_for('static', filename='images/mini_anocar_face-left.gif')}}></div>
        <hr />
        
        <div id="subheader" class="span-24 last">
        <h3 class="alt">A searchable database of 650,694 Anolis carolinensis microsatellites <strong>(version 0.1)</strong></h3>
        </div>

        <hr />
        
	    <div class='span-11 colborder'>
	    <div class="span-11 last"> 
	    	<h3>Search Parameters:</h3>
	    </div>
	    
        <form action method="GET" class="span-11 inline">
            <fieldset>
            
            <div class='span-5' style="text-align:right">
            {{form.msat_motif_size.label}}
            </div>
            <div class='span-5 last'>
            {{form.msat_motif_size}}
            </div>
            
            <div class='span-5'style="text-align:right">
            {{form.msat_motif.label}}
            </div>
            <div class='span-5 last'>
            {{form.msat_motif}}
            </div>
            
            <div class='span-5'style="text-align:right">
            {{form.msat_motif_count.label}}
            </div>
            <div class='span-5 last'>
            {{form.msat_motif_count(class='text', size=3, maxlength=3, style='width:48px')}}
            </div>
            
            
            <div class='span-5' style="text-align:right">
            {{form.combine_loci.label}}
            </div>
            <div class='span-5 last'>
            {{form.combine_loci}}
            </div>
            
            <div class='span-5' style="text-align:right">
            {{form.design_primers.label}}
            </div>
            <div class='span-5 last'>
            {{form.design_primers}}
            </div>
            
            <div class='span-5' style="text-align:right">
            {{form.tag_primers.label}}
            </div>
            <div class='span-5 last'>
            {{form.tag_primers}}
            </div>
            
            <div class='span-5 prepend-5 last'>
            	<!-- <a href=# id=calculate>calculate server side</a> -->
	        	<button id="submit_msats" name="submit_msats" type="submit" value="submit_msats" class="button positive">
					<img src="{{url_for('static', filename = 'css/plugins/buttons/icons/tick.png')}}" alt=""/> Submit
				</button>
            </div>
            </fieldset>
        </form>        
        </div>
        <div class='span-12 last'>
        	<div class='span-12 last'>
        		<h3>Search Results:</h3>
        	</div>
        	
        	<div class='span-7'>
        		<h4>Number of Msats Matching Query:</h4>
        	</div>
        	<div class= 'span-5 last'>
        		<h4 id='numb_msats'>--</h4>
        	</div>
        	        
        	<div class= 'span-8 last' id='total_msats'></div>
        	<div class='span-12 last' id ='test_result'></div>
        	
        </div>
        
        <div class="span-24" id="footer">
        
            <hr />
        
            <div class="span-16 quiet">
                Website and backend code created by <a href="http://www.ngcrawford.com">Nicholas Crawford</a>
                and <a href="http://brant.bol.ucla.edu/">Brant Faircloth</a> - 2010.
            </div>
        
            <div class="span-4 quiet">
                CSS from <a href="http://www.blueprintcss.org/">Blueprint.css</a>.
            </div>

            <div class="span-4 last" style="text-align:right">
                <a href="http://flask.pocoo.org/"><img
                    src="http://flask.pocoo.org/static/badges/powered-by-flask-s.png"
                    alt="powered by Flask"
                    title="powered by Flask"></a>
            </div>
        
        </div>
        
    <hr />
    
    </div>
</body>