<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>

	<link rel="stylesheet" href="{{url_for('static', filename='css/screen.css')}}" type="text/css" media="screen, projection"/>
	<link rel="stylesheet" href="{{url_for('static', filename='css/print.css')}}" type="text/css" media="print"/>   
	<!--[if IE]><link rel="stylesheet" href="{{url_for('static', filename='css/ie.css')}}" type="text/css" media="screen, projection"><![endif]-->
	
    <!-- blue print pluggins -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/plugins/fancy-type/screen.css')}}" type="text/css" media="screen, projection" /> 
    
    <!-- scripts -->
    <!-- static/script/jquery-1.4.2.min.js -->
   
    <script type="text/javascript" src="{{url_for('static', filename='script/jquery-1.4.2.min.js')}}"></script> 

	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
		
	<script type=text/javascript>
	  $(function() {
	    $('#submit_msats').bind('click', function() {
	      $.getJSON($SCRIPT_ROOT + '/query_result', {
	      	msat_size: $("input[name='msat_size']").val(),
	      	perfect: $("input[name='perfect']").val(),
	      	msat_length: $("length[name='msat_length']").val(),
	      	combine_loci: $("combine_loci[name='combine_loci']").val(),
	      	tag_primers: $("tag_primers[name='tag_primers']").val(),
	      	}, function(data) {
	        $("#stat1").text(data.msat_size),
	        $("#stat2").text(data.msat_length);
	      });
	      return false;
	    });
	  });
	</script>
    

<title>Anole MSats</title>
    
</head>
<body>
    <div class="container">
        <div class="span-24 last"></div>
        <hr />
        <div id="header" class="span-24 last"> <h1>Anolis Microsatellites Database</h1></div>
        
        <hr />
        
        <div id="subheader" class="span-24 last">
        <h3 class="alt">A searchable DB of [a lot!] of Anolis carolinensis microsatellites <strong>(version 0.1)</strong></h3>
        </div>

        <hr />
        
	    <div class='span-11 colborder'>
	    <div class="span-11 last"> 
	    	<h3>Search Parameters:</h3>
	    </div>
	    
        <form action method="GET" class="inline">
            <fieldset>
            
            <div class='span-5'>
            {{form.msat_size.label}}
            </div>
            
            <div class='span-5 last'>
            {{form.msat_size}}
            </div>
            
            <div class='span-5'>
            {{form.msat_length.label}}
            </div>
            <div class='span-5 last'>
            {{form.msat_length(class='text', size=3, maxlength=3, style='width:48px')}}
            </div>
            
            <div class='span-5'>
            {{form.msat_perfect.label}}
            </div>
            <div class='span-5 last'>
            {{form.msat_perfect}}
            </div>
            
            <div class='span-5'>
            {{form.combine_loci.label}}
            </div>
            <div class='span-5 last'>
            {{form.combine_loci}}
            </div>
            
            <div class='span-5'>
            {{form.design_primers.label}}
            </div>
            <div class='span-5 last'>
            {{form.design_primers}}
            </div>
            
            <div class='span-5'>
            {{form.tag_primers.label}}
            </div>
            <div class='span-5 last'>
            {{form.tag_primers}}
            </div>
            
            <div class='span-5 prepend-5 last'>
            	<!-- <a href=# id=calculate>calculate server side</a> -->
	        	<button id="submit_msats" name="submit_msats" type="submit" value="submit_msats" class="button positive">
					<img src="{{url_for('static', filename = 'css/plugins/buttons/icons/tick.png')}}" alt=""/> Submit
				</button>
            </div>
            </fieldset>
        </form>        
        </div>
        <div class='span-12 last'>
        	<div class='span-12 last'>
        		<h3>Search Results:</h3>
        	</div>
        	
        	<div class='span-3'>
        		<h4>Summary Stat 1:</h4>
        	</div>
        	<div class= 'span-9 last'>
        		<h4 id='stat1'>result value</h4>
        	</div>
        	
        	<div class='span-3' >
        		<h4>Summary Stat 2:</h4>
        	</div>
        	
        	<div class= 'span-9 last'>
        		<h4 id='stat2'>result value</h4>
        	</div>
        	
        
        	<div class= 'span-8 last' id='total_msats'></div>
        	<div class='span-12 last' id = 'test_result'>

        	</div>
        	
        </div>
        
        <div class="span-24" id="footer">
        
            <hr />
        
            <div class="span-16 quiet">
                Website and backend code created by <a href="http://www.ngcrawford.com">Nicholas Crawford</a>
                and <a href="http://brant.bol.ucla.edu/">Brant Faircloth</a> - 2010.
            </div>
        
            <div class="span-4 quiet">
                CSS from <a href="http://www.blueprintcss.org/">Blueprint.css</a>.
            </div>

            <div class="span-4 last">
                <a href="http://flask.pocoo.org/"><img
                    src="http://flask.pocoo.org/static/badges/powered-by-flask-s.png"
                    alt="powered by Flask"
                    title="powered by Flask"></a>
            </div>
        
        </div>
        
    <hr />
    
    </div>
</body>